@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Dancing+Script:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&display=swap');

.margarine-regular {
  font-family: "Margarine", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.playwrite-au-nsw-text {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dancing-script-topic {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
  color: white;
  transition: all 0.3s ease-in-out;
}
.img-hero{
  border-radius: 6px;
}

.links:hover{
  color: rgb(3,253,152);
}
.green{
  color: rgb(3,253,152);
}

.line{
  display: none;
  height: 2px;
  width: fit-content;
  background-color: rgb(3,253,152);
  transition: all 0.4s ease-in-out;
}
.line:hover{
  display: block;
}

.links:hover span {
  width: 100%;
}

.icons{
  border: 1px solid rgb(3,253,152);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.icons:hover{
  background: rgb(3,253,152);
}

.first{
  border: red 2px solid;
}

.second{
  border: 1px blue dashed;
}

.spinner {
  width: 11.2px;
  height: 11.2px;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 rgba(2, 94, 43, 0.2), 22.7px 16.5px 0 0 rgba(10, 168, 81, 0.4), 8.68px 26.6px 0 0 rgba(8, 219, 121, 0.6), -8.68px 26.6px 0 0 rgba(71, 255, 184, 0.8), -22.7px 16.5px 0 0 #03fd98;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
     transform: rotate(360deg);
}
}

.loader-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 80;
  background: rgb(29,28,34);
}

.icon-box{
  background: rgb(24, 24, 24);
  transition: all 0.6s ease-in-out;
  border-radius: 5px;
}
.icon-box:hover{
  background: #03fd98;
}

.icon-box:hover .overlay{
  display: block;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  inset: 0;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: linear-gradient(to bottom,  rgba(206,220,231,0.5) 0%,rgba(89,106,114,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
display: none;
transition: all 0.5s ease-in-out;
  
}







.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  filter: blur(10px); /* Adjust blur as needed */
  opacity: 0.5; /* Adjust opacity as needed */
  pointer-events: none; /* Prevent interactions */
}

.wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.c {
  position: absolute;
  height: 400px;
  width: 0.69444%;
  margin-top: -400px;
  animation: drop 4s infinite ease-in;
}
.c:after {
  content: "";
  position: absolute;
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  left: 50%;
  bottom: -0.45vw;
  margin-left: -0.45vw;
}

@keyframes drop {
  80% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 150vh, 0);
    opacity: 0;
  }
}


/* Repeat for all 144 elements */
.c:nth-child(1) {
  left: 1%;
  background-image: linear-gradient(to bottom, black, hsla(2.0833333333333335, 100%, 50%, 0.8));
  animation-delay: -0.027777777777777776s;
}
.c:nth-child(1):after {
  background: hsla(2.0833333333333335, 100%, 50%, 1);
}

.c:nth-child(2) {
  left: 10%;
  background-image: linear-gradient(to bottom, black, hsla(4.166666666666667, 100%, 50%, 0.8));
  animation-delay: -0.05555555555555555s;
}
.c:nth-child(2):after {
  background: hsla(4.166666666666667, 100%, 50%, 1);
}

/* Continue generating for all 144 elements */

.c:nth-child(3) {
  left: 15%;
  background-image: linear-gradient(to bottom, black, hsla(6.25, 100%, 50%, 0.8));
  animation-delay: -0.08333333333333333s;
}
.c:nth-child(3):after {
  background: hsla(6.25, 100%, 50%, 1);
}

.c:nth-child(4) {
  left: 60%;
  background-image: linear-gradient(to bottom, black, hsla(8.333333333333334, 100%, 50%, 0.8));
  animation-delay: -0.1111111111111111s;
}
.c:nth-child(4):after {
  background: hsla(8.333333333333334, 100%, 50%, 1);
}

.c:nth-child(5) {
  left: 70%;
  background-image: linear-gradient(to bottom, black, hsla(10.416666666666668, 100%, 50%, 0.8));
  animation-delay: -0.1388888888888889s;
}
.c:nth-child(5):after {
  background: hsla(10.416666666666668, 100%, 50%, 1);
}

.c:nth-child(6) {
  left: 56%;
  background-image: linear-gradient(to bottom, black, hsla(12.5, 100%, 50%, 0.8));
  animation-delay: -0.16666666666666666s;
}
.c:nth-child(6):after {
  background: hsla(12.5, 100%, 50%, 1);
}

.c:nth-child(7) {
  left: 55%;
  background-image: linear-gradient(to bottom, black, hsla(14.583333333333334, 100%, 50%, 0.8));
  animation-delay: -0.19444444444444445s;
}
.c:nth-child(7):after {
  background: hsla(14.583333333333334, 100%, 50%, 1);
}

.c:nth-child(8) {
  left: 54%;
  background-image: linear-gradient(to bottom, black, hsla(16.666666666666668, 100%, 50%, 0.8));
  animation-delay: -0.2222222222222222s;
}
.c:nth-child(8):after {
  background: hsla(16.666666666666668, 100%, 50%, 1);
}

.c:nth-child(9) {
  left: 64%;
  background-image: linear-gradient(to bottom, black, hsla(18.75, 100%, 50%, 0.8));
  animation-delay: -0.25s;
}
.c:nth-child(9):after {
  background: hsla(18.75, 100%, 50%, 1);
}

.c:nth-child(10) {
  left: 34%;
  background-image: linear-gradient(to bottom, black, hsla(20.833333333333332, 100%, 50%, 0.8));
  animation-delay: -0.2777777777777778s;
}
.c:nth-child(10):after {
  background: hsla(20.833333333333332, 100%, 50%, 1);
}

.c:nth-child(11) {
  left: 78%;
  background-image: linear-gradient(to bottom, black, hsla(22.916666666666668, 100%, 50%, 0.8));
  animation-delay: -0.3055555555555556s;
}
.c:nth-child(11):after {
  background: hsla(22.916666666666668, 100%, 50%, 1);
}

.c:nth-child(12) {
  left: 100%;
  background-image: linear-gradient(to bottom, black, hsla(25, 100%, 50%, 0.8));
  animation-delay: -0.3333333333333333s;
}
.c:nth-child(12):after {
  background: hsla(25, 100%, 50%, 1);
}

.c:nth-child(13) {
  left: 94%;
  background-image: linear-gradient(to bottom, black, hsla(27.083333333333332, 100%, 50%, 0.8));
  animation-delay: -0.3611111111111111s;
}
.c:nth-child(13):after {
  background: hsla(27.083333333333332, 100%, 50%, 1);
}

.c:nth-child(14) {
  left: 84%;
  background-image: linear-gradient(to bottom, black, hsla(29.166666666666668, 100%, 50%, 0.8));
  animation-delay: -0.3888888888888889s;
}
.c:nth-child(14):after {
  background: hsla(29.166666666666668, 100%, 50%, 1);
}

.c:nth-child(15) {
  left: 50%;
  background-image: linear-gradient(to bottom, black, hsla(31.25, 100%, 50%, 0.8));
  animation-delay: -0.4166666666666667s;
}
.c:nth-child(15):after {
  background: hsla(31.25, 100%, 50%, 1);
}

.c:nth-child(16) {
  left: 20%;
  background-image: linear-gradient(to bottom, black, hsla(33.333333333333336, 100%, 50%, 0.8));
  animation-delay: -0.4444444444444444s;
}
.c:nth-child(16):after {
  background: hsla(33.333333333333336, 100%, 50%, 1);
}

.c:nth-child(17) {
  left: 14%;
  background-image: linear-gradient(to bottom, black, hsla(35.416666666666664, 100%, 50%, 0.8));
  animation-delay: -0.4722222222222222s;
}
.c:nth-child(17):after {
  background: hsla(35.416666666666664, 100%, 50%, 1);
}

.c:nth-child(18) {
  left: 13%;
  background-image: linear-gradient(to bottom, black, hsla(37.5, 100%, 50%, 0.8));
  animation-delay: -0.5s;
}
.c:nth-child(18):after {
  background: hsla(37.5, 100%, 50%, 1);
}

.c:nth-child(19) {
  left: 23%;
  background-image: linear-gradient(to bottom, black, hsla(39.583333333333336, 100%, 50%, 0.8));
  animation-delay: -0.5277777777777778s;
}
.c:nth-child(19):after {
  background: hsla(39.583333333333336, 100%, 50%, 1);
}

.c:nth-child(20) {
  left: 45%;
  background-image: linear-gradient(to bottom, black, hsla(41.666666666666664, 100%, 50%, 0.8));
}